// 清除浮动
.clearfix{
  @include clearfix();
}

// 省略号代替被截断的文本 (元素必须是 block 或 inline-block 级)
.text-overflow{
  @include text-overflow();
}

.center-block {
  @include center-block();
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}

.hide {
  display: none !important;
}
.show {
  display: block !important;
}

//禁止页面滚动
.noscroll,
.noscroll body{
  overflow: hidden !important;
}

//禁止页面滚动，并强制显示到页面顶部
html.noscroll2,
html.noscroll2 body{
  overflow: hidden !important;
  height: 100% !important;
}